#main {
     align-items: center;
     justify-content: center;
     text-align: center;
     display: block;
}

@media screen and (max-width: 880px) {
     .song-list {
          max-width: 100vw;
     }
}

#content,
#relevant {
     margin-left: auto;
     margin-right: auto;
     max-width: 880px;
}

#title {
     width: 75%;
     text-align: left;
     font-size: 32px;
     padding: 0px;
     margin: 0px;
     margin-left: 5px;
}

#title,
#genre {
     &.jpop {
          text-shadow: 0px 0px 30px rgba(46, 107, 154), 0px 0px 10px rgba(46, 107, 154);
     }

     &.anime {
          text-shadow: 0px 0px 30px rgba(150, 44, 132), 0px 0px 10px rgba(150, 44, 132);
     }

     &.vocaloid {
          text-shadow: 0px 0px 30px rgba(133, 132, 132), 0px 0px 10px rgba(133, 132, 132);
     }

     &.touhou {
          text-shadow: 0px 0px 30px rgba(146, 44, 44), 0px 0px 10px rgba(146, 44, 44);
     }

     &.variety {
          text-shadow: 0px 0px 30px rgba(39, 135, 47), 0px 0px 10px rgba(39, 135, 47);
     }

     &.game {
          text-shadow: 0px 0px 30px rgba(116, 42, 143), 0px 0px 10px rgba(116, 42, 143);
     }
}

.padding>h2 {
     margin-top: 50px;
     margin-bottom: 0;
     transition: filter 0.2s, text-shadow 0.2s;

     &:hover {
          filter: brightness(115%) saturate(120%);
          text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
     }

     svg {
          margin-left: 0.25em;
          margin-bottom: -0.1em;
     }
}

hr#line {
     margin: 1em 0;
}

hr {
     height: 0px;
     border-top: 1px solid #cecfd0;
     margin: 0 0 1em 0;
     padding: 0;
     width: 100%;
}

#block {
     margin-left: 5px;
     margin-top: 5px;
     display: flex;
     flex-direction: row;
}

#charts {
     margin-left: 5px;
     margin-top: 5px;
}

#details {
     flex-direction: column;
     text-align: left;
     font-size: 20px;
     width: calc(100% - 180px);
}

#links {
     display: block;
     width: 180px;
     text-align: right;
     font-size: 20px;
}

.detail {
     align-items: center;
     padding: 0;
     margin: 0;
     line-height: 1em;
     margin-bottom: 0.5em;
}

.detail>svg {
     font-size: 1.5em;
}

.detail>a {
     display: block;
     margin-left: 1.75em;
     margin-top: -1.25em;
}

#genre {
     text-align: right;
     width: 100%;
     height: 0;
     overflow: visible;
     display: block;
     margin: 0;
     padding: 0;
     translate: -5px -1em;
}

.button {
     border: 2px solid rgba(206, 207, 208, 0.22);
     background-color: rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px) brightness(125%) saturate(130%);
     box-shadow: 0px 0px 10px rgba(206, 207, 208, 0.2);
     color: #cecfd0;
     cursor: pointer;
     padding: 10px;
     border-radius: 10px;
     font-size: 20px;
     transition: background-color 0.2s, box-shadow 0.2s;
     text-decoration: none;
     margin-top: 0;
     text-align: center;
     width: 150px;
     user-select: none;
     -moz-user-select: none;

     &.youtube {
          border: 2px solid rgba(216, 66, 66, 0.22);
          box-shadow: 0px 0px 10px rgba(216, 66, 66, 0.2);
     }
}

.button:hover {
     background-color: rgba(206, 207, 208, 0.1);
     box-shadow: 0px 0px 10px rgba(206, 207, 208, 0.4);

     &.youtube {
          background-color: rgba(216, 66, 66, 0.1);
          box-shadow: 0px 0px 10px rgba(216, 66, 66, 0.4);
     }
}

.button>a {
     text-decoration: none;
     color: inherit;
}

#list-big-wrap {
     overflow-x: hidden;
     overflow-y: hidden;
     position: relative;
     display: block;
     width: calc(100% - 2px);
     height: 175px;
     border-left: 1px solid #cecfd0;
     border-right: 1px solid #cecfd0;
}

.list-fix {
     margin-left: -2.5px;
}

#list-wrap {
     overflow-x: hidden;
     display: flex;
     flex-direction: row;
     flex-grow: 0;
     width: calc(100% - 2px);
     margin: auto;
     height: 175px;

     &:hover #list,
     &:hover #fakelist {
          animation-play-state: paused;
     }
}

#list,
#fakelist {
     display: flex;
     flex-direction: row;
     flex-grow: 0;
     animation: scroll-bar 8s linear 1s infinite;
}

@keyframes scroll-bar {
     0% {
          transform: translateX(0);
     }

     100% {
          transform: translateX(-100%);
     }
}

#list>div,
#fakelist>div {
     border-radius: 10px;
     width: 200px !important;
     min-width: 200px;
     height: 150px;
     background-color: rgb(24, 27, 42);
     margin: 12.5px;
     display: block;
     position: relative;
     box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 4px;
}

.sideColor {
     height: 150px;
     width: 5px;
     position: absolute;

     &.sideColor-kantan {
          background-color: rgb(167, 0, 0);
     }

     &.sideColor-futsuu {
          background-color: rgb(95, 168, 0);
     }

     &.sideColor-muzukashii {
          background-color: rgb(13, 113, 167);
     }

     &.sideColor-oni {
          background-color: rgb(208, 57, 201);
     }

     &.sideColor-ura {
          background-color: rgb(105, 0, 180);
     }
}

.sideImage {
     position: absolute;
     right: 7.5px;
     bottom: 7.5px;
     width: 30px;
     height: 30px;
     pointer-events: none;
     -webkit-touch-callout: none;
}

.list-cover {
     position: absolute;
     top: -12.5;
     height: 200px;
     z-index: 2;

     &.left {
          left: -0.5;
          width: 25px;
          box-shadow: 12px 0 15px -4px inset rgba(0, 0, 0, 0.5);
     }

     &.right {
          right: -0.5;
          width: 25px;
          box-shadow: -12px 0 8px -4px inset rgba(0, 0, 0, 0.5);
     }

     &:hover+#list-wrap>#list,
     &:hover+#list-wrap>#fakelist {
          animation-play-state: paused;
     }
}

.padding {
     margin-left: 5px;
     margin-top: 5px;
}

.song-list {
     display: flex;
     flex-direction: row;
     flex-grow: 0;
     margin: 0;
     height: 225px;
     left: 0;
     right: 0;
     overflow-x: scroll;
     width: 100%;
     max-width: 100vw;

     .jpop {
          color: rgba(46, 107, 154);
     }

     .anime {
          color: rgba(150, 44, 132);
     }

     .vocaloid {
          color: rgba(133, 132, 132);
     }

     .touhou {
          color: rgba(146, 44, 44);
     }

     .variety {
          color: rgba(39, 135, 47);
     }

     .game {
          color: rgba(116, 42, 143);
     }
}

.song-list>div {
     border-radius: 10px;
     width: 400px !important;
     min-width: 400px;
     height: 200px;
     background-color: rgb(24, 27, 42);
     margin: 12.5px;
     display: block;
     position: relative;
     box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 4px;
}

#footer {
     height: 25px;
}

.song-div {
     --w: 360px;
     overflow: hidden;
     width: var(--w);
     text-align: left;
     height: 50px;
     margin-left: 20px;
     position: relative;
}

.song-text-div {
     --w: 335px;
     overflow: hidden;
     width: var(--w);
     text-align: left;
     height: 150px;
     margin-left: 45px;
     position: relative;
}

.icons {
     position: absolute;
     left: 15px;
     font-size: 24px;
     top: 66px;
}

.song-text {
     position: absolute;
     left: 0;
     top: 0;
     white-space: nowrap;
}

.scroll-text {
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}

.song-text-div>.scroll-text {
     animation-name: scroll;
}

.song-div>.scroll-text {
     animation-name: scroll-long;
}

@keyframes scroll {

     0%,
     20% {
          -moz-transform: translateX(0);
          -webkit-transform: translateX(0);
          transform: translateX(0);
     }

     59.999% {
          -moz-transform: translateX(calc(-100%));
          -webkit-transform: translateX(calc(-100%));
          transform: translateX(calc(-100%));
     }

     60% {
          -moz-transform: translateX(calc(100%));
          -webkit-transform: translateX(calc(100%));
          transform: translateX(calc(100%));
     }

     100% {
          -moz-transform: translateX(0);
          -webkit-transform: translateX(0);
          transform: translateX(0);
     }
}

@keyframes scroll-long {

     0%,
     15% {
          -moz-transform: translateX(0);
          -webkit-transform: translateX(0);
          transform: translateX(0);
     }

     57.499% {
          -moz-transform: translateX(calc(-100%));
          -webkit-transform: translateX(calc(-100%));
          transform: translateX(calc(-100%));
     }

     57.5% {
          -moz-transform: translateX(calc(100%));
          -webkit-transform: translateX(calc(100%));
          transform: translateX(calc(100%));
     }

     100% {
          -moz-transform: translateX(0);
          -webkit-transform: translateX(0);
          transform: translateX(0);
     }
}

br {
     user-select: none;
     -moz-user-select: none;
}