body {
     user-select: none;
     -moz-user-select: none;
}

.button {
     border: 1px solid #cecfd0;
     background-color: rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(2.5px);
     cursor: pointer;
     padding: 15px 30px 15px 30px;
     border-radius: 10px;
     font-size: 20px;
     transition: background-color linear 0.2s;

     >a {
          color: #cecfd0;
          text-decoration: none;
     }
}

.button:hover {
     background-color: rgba(206, 207, 208, 0.22);
}