::-moz-selection {
     color: white;
     background: rgba(95, 168, 0, 0.22);
}

::selection {
     color: white;
     background: rgba(95, 168, 0, 0.22);
}

#nav {
     display: flex;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.25);
     background-blend-mode: multiply;
     backdrop-filter: blur(2.5px);
     width: 100%;
     height: 100px;
     margin-bottom: 25px;
}

#nav>p {
     margin-left: 30px;
     padding: 0px;
     font-size: 32px;
     text-align: left;
     user-select: none;
     -moz-user-select: none;
     font-weight: bold;
     line-height: 3em;
}

#nav>p>a {
     text-decoration: none;
     color: #cecfd0;
}

#table-body {
     padding-bottom: 25px;
     max-width: 100vw;
     overflow-x: scroll;
}

#source {
     user-select: none;
     -moz-user-select: none;
     padding: 0;
     margin: 0;
     margin-bottom: 25px;
}

body {
     overscroll-behavior: none;
     background-size: cover;
     background-position: center right;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-color: none;
     background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://keishispl.github.io/img/wallpaper/self_drawn.png');
     color: #cecfd0;
     font-weight: normal;
     margin: 0;
     align-items: center;
     justify-content: center;
     text-align: center;
}

#obj {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

td,
th {
     padding: 0
}

.main {
     border-collapse: collapse;
     border-spacing: 0;
     display: block;
     width: auto;
     overflow: auto;
     overflow-x: scroll;
     word-break: normal;
     word-break: keep-all;
     -webkit-overflow-scrolling: touch;
}

.main th {
     font-weight: 700
}

.main th,
.main td {
     padding: .5rem 1rem;
     border: 1px solid #cecfd0
}

td {
     text-align: center;
}

a,
a:visited {
     color: rgb(141, 255, 236)
}

a:hover {
     color: rgb(128, 232, 215)
}

.cellcolor .icon {
     margin-bottom: -5px;
     max-width: 20px;
     max-height: 20px;
     pointer-events: none;
     -webkit-touch-callout: none;
}

.cellcolor .hiddenlink {
     text-decoration: underline;
     color: #e9ebec;
}

.cellcolor {
     .jpop {
          background-color: rgba(46, 107, 154, 0.15);
     }

     .anime {
          background-color: rgba(150, 44, 132, 0.15);
     }

     .vocaloid {
          background-color: rgba(133, 132, 132, 0.15);
     }

     .touhou {
          background-color: rgba(146, 44, 44, 0.15);
     }

     .variety {
          background-color: rgba(39, 135, 47, 0.15);
     }

     .game {
          background-color: rgba(116, 42, 143, 0.15);
     }

}

#sidebar {
     position: fixed;
     background-color: rgb(32, 32, 32);
     top: 0;
     bottom: 0;
     right: 0;
     width: 300px;
     transition: transform 0.2s;
     user-select: none;
     -moz-user-select: none;
     text-align: right;
     z-index: 5;
}

.menu-closed>#sidebar {
     transform: translateX(300px);
}

#main {
     width: calc(100vw - 300px);
     transition: width 0.2s;
}

#main.menu-closed {
     width: 100vw;
}

@media screen and (max-width: 880px) {
     #nav>p {
          font-size: 24px;
     }
}

@media screen and (max-width: 1040px) {
     #main {
          width: 100vw;
     }
}

#btn2 {
     position: fixed;
     border: 1px solid #cecfd0;
     background-color: rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(2.5px);
     color: #cecfd0;
     cursor: pointer;
     padding: 15px;
     border-radius: 10px;
     font-size: 16px;
     width: 50px;
     height: 50px;
     user-select: none;
     -moz-user-select: none;
     transition: right 0.2s;
     z-index: 5;
}

#btn2:hover {
     background: rgba(206, 207, 208, 0.22);
}

#btn2 {
     top: 10px;
     right: 10px;
}

.line {
     margin-top: -35px;
     margin-right: -5px;
}

#jumplist {
     margin-bottom: 50px;
}
