#obj {
     border: 5px solid #37306A;
     border-bottom: none;
     border-radius: 10px;
     background: linear-gradient(rgba(133, 129, 162, 0.5), rgba(133, 129, 162, 0.5), rgb(68, 67, 94), rgb(68, 67, 94), rgb(110, 107, 135));
     backdrop-filter: blur(2.5px);
     height: calc(100vh - 133.6px - 20px);
     width: 375px;
     margin: 0 auto;
     overflow-y: scroll;
     display: flex;
     flex-direction: column;
     align-items: center;
}

#song-image {
     margin-top: 50px;
     user-select: none;
     -moz-user-select: none;
     pointer-events: none;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
     border-radius: 2.5px;
}

#song-info {
     display: block;
     min-height: 165px;
     margin-top: 20px;
     text-align: left;
     width: 300px;
     text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
     overflow-x: hidden;

     >* {
          margin: 0;
          width: fit-content;
          white-space: nowrap;
     }

     h1 {
          font-size: 24px;
          letter-spacing: 2px;
     }

     h2 {
          font-size: 16px;
          font-weight: normal;
     }
}

#song-charts {
     margin-top: 10px;
     width: 300px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;

     --easy: #89DD44;
     --normal: #00BBDE;
     --hard: #FF9902;
     --expert: #EE1267;
     --master: #CD32FA;
     --append: #ed8bd3;
}

#song-charts>div {
     width: 50px;
     height: 75px;
     margin: 5px;
     user-select: none;
     -moz-user-select: none;

     h1 {
          margin: 2.5px 0 0 0;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
     }

     p {
          margin: 0;
          font-size: 20px;
          font-weight: bold;
          line-height: 1em;
          letter-spacing: 0;
     }

     div {
          border: 2px solid;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          padding: 10px;
          cursor: pointer;
          user-select: none;
          -moz-user-select: none;
          justify-content: center;
          align-items: center;
          display: flex;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

          &.easy {
               border-color: var(--easy);
          }

          &.normal {
               border-color: var(--normal);
          }

          &.hard {
               border-color: var(--hard);
          }

          &.expert {
               border-color: var(--expert);
          }

          &.master {
               border-color: var(--master);
          }

          &.append {
               border-color: var(--append);
          }

          &:hover,
          &.active {
               color: #37306A;
               box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
               text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

               &.easy {
                    border-color: #a3ff9b;
                    background-color: var(--easy);
               }

               &.normal {
                    border-color: #9be3ff;
                    background-color: var(--normal);
               }

               &.hard {
                    border-color: #ffcd9b;
                    background-color: var(--hard);
               }

               &.expert {
                    border-color: #ff9b9b;
                    background-color: var(--expert);
               }

               &.master {
                    border-color: #E19BFF;
                    background-color: var(--master);
               }

               &.append {
                    border-color: transparent;
                    background-image: linear-gradient(-45deg, #B695FA, #F67DF1), linear-gradient(-45deg, #D8C9FB, #F5C3F0);
                    background-origin: border-box;
                    background-clip: padding-box, border-box;
               }
          }

          &:hover+p,
          &.active+p {
               color: #37306A;
               text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

               &.easy {
                    color: var(--easy);
               }

               &.normal {
                    color: var(--normal);
               }

               &.hard {
                    color: var(--hard);
               }

               &.expert {
                    color: var(--expert);
               }

               &.master {
                    color: var(--master);
               }

               &.append {
                    color: var(--append);
               }
          }
     }
}

.scroll-text {
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}

p.scroll-text,h2.scroll-text {
     animation-name: scroll;
}

h1.scroll-text {
     animation-name: scroll-long;
}

@keyframes scroll {

     0%,
     20% {
          -moz-transform: translateX(0);
          -webkit-transform: translateX(0);
          transform: translateX(0);
     }

     59.999% {
          -moz-transform: translateX(calc(-100%));
          -webkit-transform: translateX(calc(-100%));
          transform: translateX(calc(-100%));
     }

     60% {
          -moz-transform: translateX(calc(100%));
          -webkit-transform: translateX(calc(100%));
          transform: translateX(calc(100%));
     }

     100% {
          -moz-transform: translateX(0);
          -webkit-transform: translateX(0);
          transform: translateX(0);
     }
}

@keyframes scroll-long {

     0%,
     15% {
          -moz-transform: translateX(0);
          -webkit-transform: translateX(0);
          transform: translateX(0);
     }

     57.499% {
          -moz-transform: translateX(calc(-100%));
          -webkit-transform: translateX(calc(-100%));
          transform: translateX(calc(-100%));
     }

     57.5% {
          -moz-transform: translateX(calc(100%));
          -webkit-transform: translateX(calc(100%));
          transform: translateX(calc(100%));
     }

     100% {
          -moz-transform: translateX(0);
          -webkit-transform: translateX(0);
          transform: translateX(0);
     }
}

#song-buttons {
     margin-top: 14px;
     margin-bottom: 54px;
     max-width: calc(100% - 25px);
}

.btn {
     font-size: 20px;
     padding: 5px 25px;
     transition: .1s box-shadow ease, .1s background-color ease, .1s border ease, opacity 0.075s ease;
}

#song-combo {
     transition: opacity 0.075s ease;
}

#id {
     width: fit-content;
     letter-spacing: 0;
     text-align: left;
     position: fixed;
     top: 0;
     left: 2.5px;
     margin: 5px;
     font-size: 12px;
     text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#yori-wrap {
     display: block;
     position: absolute;
     padding: 5px 7.5px;
     border-radius: 5px;
     background-color: #343149;
     width: auto;
     height: 14px;
     top: 40px;
     left: 75px;
     overflow-x: hidden;
     max-width: 235px;

     >p {
          letter-spacing: 0px;
          width: fit-content;
          font-size: 14px;
          line-height: 1em;
          margin: 0;
          white-space: nowrap;
     }
}

#youtube-wrap {
     position: absolute;
     top: 50px;
     right: 50px;
     margin: 0;
     font-size: 20px;
     width: fit-content;
     letter-spacing: 0;

     >a {
          color: #cecfd0;
          text-decoration: none;
     }
}

#main {
     padding-bottom: 0;
}

#obj {
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
}

#video-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.5);
     padding: 0 0 5px 0;
}

#video-close {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
}

#video {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80vw;
     height: 45vw;
     max-width: 1280px;
     max-height: 720px;
     box-shadow: 2px 2px 5px rgba(227, 228, 237, .2);
     border: 2px solid rgba(255, 255, 255, .2);
     border-radius: 10px;
     transition: box-shadow 0.2s, background-color 0.1s;

     &:hover {
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
     }
}